<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles.css" />

    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>

      <a class="navbar-brand order-1 order-md-2 text-center" href="/">HoliYAY</a>

      <div class="dropdown navbar-item order-1 order-md-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #dfd3c3; color: grey">
        <span class="fas fa-user"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/login" data-toggle="modal" data-target=".bd-example-modal-sm">Log In</a>
          <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="dropdown-item btn btn btn-md user-dropdown-logout">Log Out</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/signup" data-toggle="modal" data-target=".signup-modal">Sign Up</a>
        </div>
      </div>


      <div class="collapse navbar-collapse order-2" id="navbar">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="/user-dashboard">My Trips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buddy-dashboard">My Travel Buddies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Expenses Tracker</a>
          </li>
        </ul>
      <div>
    </nav>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
          <div class="login-container">
            <form action="/login" method="POST">
              <div class="row">
                <div class="col-10"><h1>Log In</h1></div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="name">Username:</label>
                    <input type="text" name="name" class="form-control"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control"></label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-10">
                  <div><button type="submit">Submit</button></div>
                </div>
              </div>
              <br />
              <div>
                <a href="/signup">New? Register here</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="signup-container">
            <form action="/signup" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="title-name">HoliYAY</div>
                <div class="sub-text">Create account</div>
              </div>
              <div class="row">
                  <div><img class="rounded-circle" width="120px" src="/photos/default-profile-pic.jpg" /></div>
                  <div class="photo-upload" style="display: flex; justify-content: space-around;">
                    <label for="photo"></label>
                    <input type="file" name="photo" />
                  </div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                  <div class="form-group" >
                    <label for="name"></label>
                    <input type="text" name="name" class="form-control" placeholder="Username"></label>
                  </div>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                  <div class="form-group">
                    <label for="password"></label>
                    <input type="password" name="password" class="form-control" placeholder="Password"></label>
                  </div>
                </div>
                <div class="col-1"></div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div><button type="submit">Submit</button></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<div class="after-nav-bar">


