<%- include('header', {title: 'Log In'}); -%>

<div class="login-container2">
  <div class="gradient-bg"></div>
  <form action="/login" method="POST">
    <div class="row">
      <div class="col-md-2"></div>
    <div class= "col-md-8">
    <div class="row">
      <div class="col-10"><h1>Log In</h1></div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <label for="name">Username:</label>
          <input type="text" name="name" class="form-control"></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control"></label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <div><button type="submit">Submit</button></div>
      </div>
    </div>
    <br />
    <div>
      <a href="/signup">New? Register here</a>
    </div>
    <div class="col-md-2"></div>
    </div>
  </div>
  </form>
  
  

</div>

<%- include('footer'); -%>
