<%- include('header', {title: 'Sign Up'}); -%>

<div class="signup-container">
  <form action="/signup" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-10"><h1>Sign Up</h1></div>
    </div>
    <div class="row">
      <div class="col-10 col-md-5">
        <div class="form-group">
          <label for="name">Username:</label>
          <input type="text" name="name" class="form-control"></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-md-5">
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control"></label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-md-5">
        <div class="form-group">
          <label for="photo">Upload Profile Picture</label><br />
            <input type="file" name="photo" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <div><button type="submit">Submit</button></div>
      </div>
    </div>
  </form>
</div>

<%- include('footer'); -%>
