<%- include('header', {title: 'HoliYAY'}); -%>

<div class="welcome-page-container">
  <div class="bg-image"></div>
  <div class="row">
    <div class="col-12">
      <h1>Holiday Planning made easy</h1>
    </div>
    <div class="col-12">
      <h3>You deserve a break!</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 welcome-page-button">
      <a href="/new-trip">Plan Your Next Trip</a>
    </div>
    <div class="col-12 col-md-6 welcome-page-button">
      <a href="/user-dashboard">View Past Trips</a>
    </div>
  </div>
</div>

<%- include('footer'); -%>
