* {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

/*************Header*************/
.navbar {
  background-color: rgb(240, 236, 227);
  padding: 5px 10px;
}

.after-nav-bar {
  position: relative;
  top: 80px;
}

.navbar-brand {
  font-size: 40px;
}

.nav-link {
  font-size: 25px;
}

.navbar-toggler {
  font-size: 20px;
  background-color: #dfd3c3;
}

.navbar-toggler-icon {
  color: #dfd3c3;
}

.navbar .dropdown-menu {
  background-color: #dfd3c3;
}

/************Log In PopUp*****************/

.login-container {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-container .title-name {
  font-size: 40px;
  color: #a68dad;
  line-height: 0.8;
}

.login-container .sub-text {
  font-size: 20px;
  color: lightgrey;
}

.login-container h1 {
  font-size: 40px;
}
.login-container label {
  font-size: 30px;
}

.login-container a {
  font-size: 20px;
}

.login-container button {
  background: none;
  border: grey solid 2px;
  border-radius: 10px;
  color: grey;
  font-size: 20px;
  margin-top: 20px;
}

.login-container button:hover {
  background: #f0ece3;
  border: #f0ece3 solid 2px;
}

.login-container a:hover {
  color: #a68dad;
}

/************Log In Page*****************/

.login-container2 {
  margin: 20px 0px 0px 70px;
}

.login-container2 h1 {
  font-size: 50px;
}
.login-container2 label {
  font-size: 40px;
}

.login-container2 a {
  font-size: 30px;
}

.login-container2 button {
  background: none;
  border: black solid 2px;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  margin-top: 10px;
}

.login-container2 button:hover {
  background: lightgray;
  border: lightgray solid 2px;
}

.login-container2 a:hover {
  color: #a68dad;
}

/*************Sign Up Pop up*************/

.signup-container {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.signup-container button {
  background: none;
  border: grey solid 2px;
  border-radius: 10px;
  color: grey;
  font-size: 20px;
  margin-top: 10px;
}

.signup-container button:hover {
  background: #f0ece3;
  border: #f0ece3 solid 2px;
}

.signup-container .title-name {
  font-size: 40px;
  color: #a68dad;
  line-height: 0.8;
}

.signup-container .sub-text {
  font-size: 20px;
  color: lightgrey;
}

/*************Welcome-Page************/

.welcome-page-container {
  text-align: center;
}

.bg-image {
  background-image: url(https://www.lufthansagroup.com/media/_processed_/2/6/csm_20211118_PM_SAF_01_d08412cd6d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.welcome-page-container h1 {
  font-size: max(8vw, 60px);
  padding: 90px 0px 30px 0px;
}
.welcome-page-container h3 {
  font-size: 50px;
  padding: 0px 0px 30px 0px;
}
.welcome-page-container a {
  font-size: 30px;
  padding: 15px;
  border: 3px;
  border-radius: 10px;
  color: black;
  background-color: rgb(223, 211, 195, 0.5);
  text-decoration: none;
}
.welcome-page-button {
  margin-bottom: 20px;
}
.user-dropdown a {
  font-size: 20px;
}

.user-dropdown-logout {
  font-size: 20px;
}

.navbar .dropdown-menu {
  min-width: 20px;
  text-align: center;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}

/****************User-dashboard*******************/

.user-dashboard-container {
  padding: 15px;
}

.gradient-bg {
  /* background-image: url(https://www.lufthansagroup.com/media/_processed_/2/6/csm_20211118_PM_SAF_01_d08412cd6d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-image: linear-gradient(#dfd3c3, white);
  filter: blur(2px);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.border {
  border: #a68dad 3px solid !important;
  border-radius: 15px;
}

.itineraries-container {
  padding: 10px;
}

.itineraries-container a:hover {
  background: #f0ece3;
  border: #f0ece3 solid 2px;
}

.new-trip-button a {
  color: black;
  border: #c7b198 solid 2px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
}
.new-trip-button {
  text-align: right;
}

.one-trip-div {
  border: #c7b198 solid 2px;
  border-radius: 15px;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-trip-div a {
  text-decoration: none;
  color: black;
}

.one-trip-div a:hover {
  color: #c7b198 !important;
  background: none !important;
  border: none !important;
}

.user-dashboard-container .edit-delete-icons a {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.user-dashboard-container .edit-delete-icons i:hover {
  color: #c7b198;
}

.user-dashboard-container .edit-delete-icons button {
  border: none;
  background: none;
  font-size: 30px;
}

.buddies-trips-container {
  margin-top: 15px;
}

/****************Trip***********************/

.single-trip-container {
  padding: 15px;
}

.trip-details {
  font-size: 30px;
  align-items: center;
  justify-content: space-between;
}

.trip-details h1,
h3 {
  margin-bottom: 0px;
}

@media only screen and (min-width: 600px) {
  .days-group .row {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}

.days-group h2 {
  border: #c7b198 solid 2px;
  border-radius: 10px;
  padding: 8px;
  background-color: #c7b198;
}

.days-group a,
i {
  color: #a68dad;
  text-decoration: none;
  font-size: 20px;
}

.days-group a:hover {
  color: #dfd3c3;
}

.each-activity-main {
  border: #c7b198 solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.each-activity-transport i {
  color: black;
}

.each-activity-transport {
  display: flex;
  margin-left: 25px;
}

/*****************New-Trip*****************/
.trip-form-container {
  margin: 20px 20px 0px 20px;
  font-size: 30px;
}
.trip-form-container input {
  border-radius: 5px;
  border: grey solid 1px;
  overflow-wrap: break-word;
}
.trip-form-container .input-field {
  margin-bottom: 50px;
  display: flex;
  height: 50px;
}

.trip-form-container .new-trip-submit {
  background: none;
  border: white solid 2px;
}

.trip-form-container .new-trip-submit:hover {
  background-color: #dfd3c3;
  border: #dfd3c3 solid 2px;
}

.activity-form-container input {
  border-radius: 5px;
  border: grey solid 1px;
  overflow-wrap: break-word;
}
.activity-form-container .input-field {
  margin-bottom: 50px;
  display: flex;
  height: 50px;
}

/******************Buddy-Dashboard*************/
.buddy-dashboard-container {
  padding: 15px;
}

.buddy-dashboard-container .add-buddy-icon {
  color: #a68dad;
  text-decoration: none;
  font-size: 25px;
  justify-content: right;
  align-items: center;
  align-content: center;
  display: flex;
  padding: 5px;
}

.buddy-dashboard-container .add-buddy-icon:hover {
  color: black;
}

.each-buddy-div {
  text-align: center;
}

.each-buddy-trip-div {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 65px;
}

.each-buddy-trip-div button,
.each-buddy-edit-delete-icons button {
  border: none;
  background: none;
}

.each-buddy-edit-delete-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  align-items: center;
}

.each-buddy-edit-delete-icons a,
button {
  font-size: 15px;
  color: #a68dad;
  text-decoration: none;
}

.each-buddy-edit-delete-icons a:hover {
  color: black;
}

.each-buddy-edit-delete-icons button:hover {
  color: black;
}
/****************Activity*********************/
.activity-intro-div {
  display: flex;
  text-align: center;
  flex-flow: column;
}

.bg-color {
  background-color: #dfd3c3;
  z-index: -1;
  height: 100%;
  width: inherit;
  position: fixed;
}

.activity-intro-div2 {
  padding-top: 30%;
  color: grey;
}

.activity-intro-div h1 {
  font-size: 50px;
}

.activity-intro-div h2 {
  font-size: 40px;
}

.activity-details-div {
  padding: 20px 40px;
}

.activity-info {
  font-size: 30px;
  padding-top: 10px;
}

.activity-fields {
  font-size: 20px;
  color: grey;
}

.activity-container a {
  margin-right: 50px;
  text-decoration: none;
  color: black;
  border: black solid 2px;
  border-radius: 10px;
  padding: 2px 15px;
  font-size: 30px;
}

.activity-container a:hover {
  border: #f0ece3 solid 2px;
  background-color: #f0ece3;
}

.activity-container button {
  border: none;
  background: none;
  font-size: 30px;
  border: black solid 2px;
  border-radius: 10px;
  color: black;
}

.activity-container button:hover {
  border: #f0ece3 solid 2px;
  background-color: #f0ece3;
}

/*********Activity-edit****************/
.edit-activity-form-container {
  margin-top: 20px;
  margin-left: 20px;
}

.edit-activity-form-container .input-field {
  font-size: 25px;
  margin-top: 20px;
  line-height: 40px;
}

.edit-activity-form-container select {
  height: 40px;
  border-radius: 5px;
  border: lightgray solid 2px;
}

.edit-activity-form-container .submit-button {
  font-size: 25px;
  background: none;
  border: black solid 2px;
  margin-bottom: 20px;
}

.edit-activity-form-container input {
  border-radius: 5px;
  border: lightgray solid 2px;
}

.edit-activity-form-container .submit-button:hover {
  background-color: #dfd3c3;
  border: #dfd3c3 solid 2px;
}

/*********New-activity****************/
.activity-form-container2 {
  margin-top: 20px;
  margin-left: 20px;
}

.grey-box {
  background-color: rgba(128, 128, 128, 0.432);
  margin-bottom: 30px;
}

.activity-form-container2 .input-field {
  font-size: 25px;
  line-height: 40px;
  margin-top: 30px;
}

.activity-form-container2 select {
  height: 40px;
  border-radius: 5px;
  border: lightgray solid 2px;
}

.activity-form-container2 .submit-button {
  font-size: 25px;
  background: none;
  border: black solid 2px;
  margin-bottom: 20px;
}

.activity-form-container2 input {
  border-radius: 5px;
  border: lightgray solid 2px;
}

.activity-form-container2 .submit-button:hover {
  background-color: #dfd3c3;
  border: #dfd3c3 solid 2px;
}

/****************Add-buddy-trip***********/
.activity-form-container3 {
  margin-top: 20px;
  margin-left: 20px;
}

.activity-form-container3 .input-field {
  font-size: 25px;
  line-height: 40px;
  margin-top: 30px;
}

.activity-form-container3 select {
  height: 40px;
  border-radius: 5px;
  border: lightgray solid 2px;
}

.activity-form-container3 .submit-button {
  font-size: 25px;
  background: none;
  border: black solid 2px;
  margin-bottom: 20px;
}

.activity-form-container3 input {
  border-radius: 5px;
  border: lightgray solid 2px;
}

.activity-form-container3 .submit-button:hover {
  background-color: #dfd3c3;
  border: #dfd3c3 solid 2px;
}

/**************Add-buddy************/
.buddy-form-container {
  margin: 20px 20px 0px 20px;
  font-size: 30px;
}
.buddy-form-container input {
  border-radius: 5px;
  border: grey solid 1px;
  overflow-wrap: break-word;
}
.buddy-form-container .input-field {
  margin-bottom: 20px;
  display: flex;
  height: 50px;
}

.buddy-form-container .new-buddy-submit {
  background: none;
  border: white solid 2px;
}

.buddy-form-container .new-buddy-submit:hover {
  background-color: #dfd3c3;
  border: #dfd3c3 solid 2px;
}
